* {box-sizing: border-box}
/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
	 line-height: 2;
    font-family: Arial;
	background-color: #b1bace;
	 position: fixed; 
    overflow-y: scroll;
    width: 100%;
}
footer{
	background-color: #555;
	color: white;
}

.tablink:hover {
    background-color: #777;
}
/* Style tab links */
.tablink {
    background-color: #01579b;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 30px 20px;
	background-color: #757575;
	display:block;
	overflow:auto;
	min-height= 100%;
}

.tabcontentInner{
	background-color: white;
	min-height: 100%;
	color: black;
}

.btn {
background-color: #01579b;
border-width:1px;
}

.taskname{
		min-width: 100%;
	
}

.cronInput{
	min-width: 100%;
	min-height: 100%;
	color:black;
}

.Settings{
	min-width: 100%;
	min-height: 100%;
	color: black;
	
    resize: none;
    overflow: auto;
}

.selectNumber{
	width: 40px;
	height: 30px;
	color: black;
}

.jsonInput{
	min-width: 100%;
	min-height: 100%;
}

.exitcodeBox{
	color: black;
	height: 30px;
}

#Tasklist {background-color: #757575;}
#createnewTask {background-color: #757575;}
#Settings {background-color: #757575;}
#About {background-color: #757575 ;}
