* {box-sizing: border-box}
/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
	line-height: 2;
    font-family: Arial;
	background-color: #757575;
	 position: fixed; 
    overflow-y: scroll;
    width: 100%;
	
}
footer{
	background-color: #555;
	color: white;
}


/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 0px 0px;
	background-color: #757575;
	display:block;
	width: 100%;
	height: 100%;
}

.btn:hover{
	background-color: black; 
}
.btn {
background-color: #45526e ;
 border-color: black;
border-width:1px; 
}
.btn:active:focus {
  color: #ffffff; 
  background-color:#45526e; 
 
}


.taskname, .btn-group{
		width: 100%;
	
}

.cronInput{
	min-width: 100%;
	min-height: 100%;
	color:black;
}

.Settings{
	min-width: 100%;
	min-height: 100%;
	color: black;
	
    resize: none;
    overflow: auto;
}

.selectNumber{
	width: 40px;
	height: 30px;
	color: black;
}

.jsonInput{
	min-width: 100%;
	min-height: 100%;
}

.exitcodeBox{
	color: black;
	height: 30px;
}

.footer{
 position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #555;
   color: white;
   text-align: center;
   white-space: nowrap;
}
